html {
    background-image: url(https://th.bing.com/th/id/R.545f4a9fe4be7a3798296fa65b6d3705?rik=GnCoO%2fVAS%2bMYOw&riu=http%3a%2f%2fpacoceanproject.weebly.com%2fuploads%2f2%2f4%2f8%2f8%2f24884223%2f317408167.png&ehk=OjhwJH11JbhEBW3yPQvJ5wLiFPM77dWBfUNImVXRY0U%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat;
}
.body {
    font-family: "Lucida Console", "Courier New", monospace;
    backdrop-filter: blur(30px);
}

h1 {
    color: cyan;

    ;
    text-decoration: underline;
    text-align: center;
}

p {
    color: rebeccapurple;
    font-weight: bolder;
    text-align: center;
}

h3, ul {
    color: goldenrod;
}